In [22]:
import os, sys, glob, re
import numpy as np
import pandas as pd
import pyranges as pr

In [71]:
#files = os.listdir('../data/ctcf.rad21/')
#len(files)

path = '../data/random_loop/ctcf.rad21/'
file = glob.glob(os.path.join(path,'*.txt'))
d1 = [] 
d2 = []

for f in file:
    if  re.match('.*r1.*', f) != None:
        d1.append(pd.read_csv(f,comment='#',header=None))
    else: #re.match('.*r2.*', f) != None:
        d2.append(pd.read_csv(f,comment='#',header=None))
data_r1 = pd.concat(d1,axis=1)
data_r2 = pd.concat(d2,axis=1)

print(data_r1.head())
print(data_r2.head())

         0        0        0        0        0        0        0        0  \
0  1688853  1680914  1679762  1679058  1669044  2276007  2261564  2262570
1   513477   512083   508559   510371   507279   690779   688528   686044
2   173533   173091   172080   171346   171225   233836   232323   231641
3    89869    89340    89210    89155    89180   120875   119847   120105
4    59495    59135    58849    58896    59265    79949    79575    79384

         0        0  ...        0        0        0        0        0       0  \
0  2250813  2254535  ...  2451019  2437673  2440429  2431075  2429150  986450
1   684400   685371  ...   743813   741920   739963   739152   738617  299804
2   230184   231215  ...   251459   250426   250036   248459   249326  101724
3   119072   120532  ...   130249   129026   129486   128525   129833   52714
4    78744    79665  ...    86068    85692    85575    84974    85538   35004

        0       0       0       0
0  974813  982217  975096  973010
1  297565  297680  296524  295732
2  100902  101337   99763  100238
3   52317   52658   51947   52647
4   34422   34703   34306   34665

[5 rows x 45 columns]
         0        0        0        0        0        0        0        0  \
0  2951081  2940936  2934856  2938687  2924363  3978164  3958024  3957103
1   617231   614877   612517   614211   610150   831054   828541   825326
2   189049   187888   186953   187889   186029   254035   252505   252177
3   103409   103636   103706   103680   104259   138856   139357   139707
4    69703    69480    68798    68704    68905    93604    93130    92500

         0        0  ...        0        0        0        0        0  \
0  3939784  3952059  ...  4285152  4268134  4267432  4256302  4257975
1   823033   824238  ...   894857   892872   890321   889104   888644
2   251627   251316  ...   273328   272068   272092   271397   270836
3   138537   140267  ...   149875   150223   150816   149701   150946
4    91901    92950  ...   100725   100100   100046    99221    99930

         0        0        0        0        0
0  1724560  1704621  1714955  1705574  1703894
1   360784   356523   358725   356964   355878
2   110699   108846   109921   109373   108892
3    60494    59981    61230    60183    61220
4    40749    40519    40658    39936    40325

[5 rows x 45 columns]

In [125]:
# lpfiles = []
# for f in files:
#     if os.path.splitext(f)[1] == '.txt':
#         #print(f)
#         lpfiles.append(f)
#print(lpfiles)

In [74]:
filename_r1 = []
filename_r2 = []
#rep = []

for f in file:
    #rep = os.path.split(f)[1].split('primed_')[1].split('.intral')[0]
    if  re.match('.*r1.*', f) != None:
        fn = os.path.split(f)[1].split('.hesc')[0].replace("_shuff", "")
        filename_r1.append(fn + '_r1')
    else:
        fn = os.path.split(f)[1].split('.hesc')[0].replace("_shuff", "")
        filename_r2.append(fn + '_r2')

print(filename_r1)
print(filename_r2)

['CTCF_35846_01_r1', 'CTCF_35846_02_r1', 'CTCF_35846_03_r1', 'CTCF_35846_04_r1', 'CTCF_35846_05_r1', 'CTCF_36632_01_r1', 'CTCF_36632_02_r1', 'CTCF_36632_03_r1', 'CTCF_36632_04_r1', 'CTCF_36632_05_r1', 'CTCF_45230_01_r1', 'CTCF_45230_02_r1', 'CTCF_45230_03_r1', 'CTCF_45230_04_r1', 'CTCF_45230_05_r1', 'CTCF_46184_01_r1', 'CTCF_46184_02_r1', 'CTCF_46184_03_r1', 'CTCF_46184_04_r1', 'CTCF_46184_05_r1', 'CTCF_50988_01_r1', 'CTCF_50988_02_r1', 'CTCF_50988_03_r1', 'CTCF_50988_04_r1', 'CTCF_50988_05_r1', 'RAD21_45689_01_r1', 'RAD21_45689_02_r1', 'RAD21_45689_03_r1', 'RAD21_45689_04_r1', 'RAD21_45689_05_r1', 'RAD21_46164_01_r1', 'RAD21_46164_02_r1', 'RAD21_46164_03_r1', 'RAD21_46164_04_r1', 'RAD21_46164_05_r1', 'RAD21_91096_01_r1', 'RAD21_91096_02_r1', 'RAD21_91096_03_r1', 'RAD21_91096_04_r1', 'RAD21_91096_05_r1', 'RAD21_94415_01_r1', 'RAD21_94415_02_r1', 'RAD21_94415_03_r1', 'RAD21_94415_04_r1', 'RAD21_94415_05_r1']
['CTCF_35846_01_r2', 'CTCF_35846_02_r2', 'CTCF_35846_03_r2', 'CTCF_35846_04_r2', 'CTCF_35846_05_r2', 'CTCF_36632_01_r2', 'CTCF_36632_02_r2', 'CTCF_36632_03_r2', 'CTCF_36632_04_r2', 'CTCF_36632_05_r2', 'CTCF_45230_01_r2', 'CTCF_45230_02_r2', 'CTCF_45230_03_r2', 'CTCF_45230_04_r2', 'CTCF_45230_05_r2', 'CTCF_46184_01_r2', 'CTCF_46184_02_r2', 'CTCF_46184_03_r2', 'CTCF_46184_04_r2', 'CTCF_46184_05_r2', 'CTCF_50988_01_r2', 'CTCF_50988_02_r2', 'CTCF_50988_03_r2', 'CTCF_50988_04_r2', 'CTCF_50988_05_r2', 'RAD21_45689_01_r2', 'RAD21_45689_02_r2', 'RAD21_45689_03_r2', 'RAD21_45689_04_r2', 'RAD21_45689_05_r2', 'RAD21_46164_01_r2', 'RAD21_46164_02_r2', 'RAD21_46164_03_r2', 'RAD21_46164_04_r2', 'RAD21_46164_05_r2', 'RAD21_91096_01_r2', 'RAD21_91096_02_r2', 'RAD21_91096_03_r2', 'RAD21_91096_04_r2', 'RAD21_91096_05_r2', 'RAD21_94415_01_r2', 'RAD21_94415_02_r2', 'RAD21_94415_03_r2', 'RAD21_94415_04_r2', 'RAD21_94415_05_r2']

In [75]:
data_r1.columns = filename_r1
data_r2.columns = filename_r2
print(data_r1.head())
print(data_r2.head())

   CTCF_35846_01_r1  CTCF_35846_02_r1  CTCF_35846_03_r1  CTCF_35846_04_r1  \
0           1688853           1680914           1679762           1679058
1            513477            512083            508559            510371
2            173533            173091            172080            171346
3             89869             89340             89210             89155
4             59495             59135             58849             58896

   CTCF_35846_05_r1  CTCF_36632_01_r1  CTCF_36632_02_r1  CTCF_36632_03_r1  \
0           1669044           2276007           2261564           2262570
1            507279            690779            688528            686044
2            171225            233836            232323            231641
3             89180            120875            119847            120105
4             59265             79949             79575             79384

   CTCF_36632_04_r1  CTCF_36632_05_r1  ...  RAD21_91096_01_r1  \
0           2250813           2254535  ...            2451019
1            684400            685371  ...             743813
2            230184            231215  ...             251459
3            119072            120532  ...             130249
4             78744             79665  ...              86068

   RAD21_91096_02_r1  RAD21_91096_03_r1  RAD21_91096_04_r1  RAD21_91096_05_r1  \
0            2437673            2440429            2431075            2429150
1             741920             739963             739152             738617
2             250426             250036             248459             249326
3             129026             129486             128525             129833
4              85692              85575              84974              85538

   RAD21_94415_01_r1  RAD21_94415_02_r1  RAD21_94415_03_r1  RAD21_94415_04_r1  \
0             986450             974813             982217             975096
1             299804             297565             297680             296524
2             101724             100902             101337              99763
3              52714              52317              52658              51947
4              35004              34422              34703              34306

   RAD21_94415_05_r1
0             973010
1             295732
2             100238
3              52647
4              34665

[5 rows x 45 columns]
   CTCF_35846_01_r2  CTCF_35846_02_r2  CTCF_35846_03_r2  CTCF_35846_04_r2  \
0           2951081           2940936           2934856           2938687
1            617231            614877            612517            614211
2            189049            187888            186953            187889
3            103409            103636            103706            103680
4             69703             69480             68798             68704

   CTCF_35846_05_r2  CTCF_36632_01_r2  CTCF_36632_02_r2  CTCF_36632_03_r2  \
0           2924363           3978164           3958024           3957103
1            610150            831054            828541            825326
2            186029            254035            252505            252177
3            104259            138856            139357            139707
4             68905             93604             93130             92500

   CTCF_36632_04_r2  CTCF_36632_05_r2  ...  RAD21_91096_01_r2  \
0           3939784           3952059  ...            4285152
1            823033            824238  ...             894857
2            251627            251316  ...             273328
3            138537            140267  ...             149875
4             91901             92950  ...             100725

   RAD21_91096_02_r2  RAD21_91096_03_r2  RAD21_91096_04_r2  RAD21_91096_05_r2  \
0            4268134            4267432            4256302            4257975
1             892872             890321             889104             888644
2             272068             272092             271397             270836
3             150223             150816             149701             150946
4             100100             100046              99221              99930

   RAD21_94415_01_r2  RAD21_94415_02_r2  RAD21_94415_03_r2  RAD21_94415_04_r2  \
0            1724560            1704621            1714955            1705574
1             360784             356523             358725             356964
2             110699             108846             109921             109373
3              60494              59981              61230              60183
4              40749              40519              40658              39936

   RAD21_94415_05_r2
0            1703894
1             355878
2             108892
3              61220
4              40325

[5 rows x 45 columns]

In [78]:
## load bed files
bedpath = '../data/bed/ctcf.rad21/'
bedfile = glob.glob(os.path.join(bedpath,'*.bed'))
peaknum = []
for b in bedfile:
    bed = pr.read_bed(b)
    peaknum.append(len(bed))

In [79]:
print(peaknum)

[70084, 82900, 87184, 101440, 97256, 92669, 151864, 86582, 51993]

In [80]:
## 5 shuffled bed
peaknum = np.repeat(peaknum, 5)
peaknum

array([ 70084,  70084,  70084,  70084,  70084,  82900,  82900,  82900,
        82900,  82900,  87184,  87184,  87184,  87184,  87184, 101440,
       101440, 101440, 101440, 101440,  97256,  97256,  97256,  97256,
        97256,  92669,  92669,  92669,  92669,  92669, 151864, 151864,
       151864, 151864, 151864,  86582,  86582,  86582,  86582,  86582,
        51993,  51993,  51993,  51993,  51993])

In [81]:
len(peaknum)

45

In [82]:
data_r1.shape
data_r2.shape

(20, 45)

In [83]:
back_r1 = data_r1.div(peaknum)
back_r2 = data_r2.div(peaknum)

In [86]:
print(back_r1.head())
print(back_r2.head())

   CTCF_35846_01_r1  CTCF_35846_02_r1  CTCF_35846_03_r1  CTCF_35846_04_r1  \
0         24.097554         23.984276         23.967839         23.957794
1          7.326594          7.306703          7.256421          7.282276
2          2.476072          2.469765          2.455339          2.444866
3          1.282304          1.274756          1.272901          1.272116
4          0.848910          0.843773          0.839692          0.840363

   CTCF_35846_05_r1  CTCF_36632_01_r1  CTCF_36632_02_r1  CTCF_36632_03_r1  \
0         23.814908         27.454849         27.280627         27.292762
1          7.238157          8.332678          8.305525          8.275561
2          2.443140          2.820700          2.802449          2.794222
3          1.272473          1.458082          1.445682          1.448794
4          0.845628          0.964403          0.959891          0.957587

   CTCF_36632_04_r1  CTCF_36632_05_r1  ...  RAD21_91096_01_r1  \
0         27.150941         27.195838  ...          28.308644
1          8.255730          8.267443  ...           8.590850
2          2.776647          2.789083  ...           2.904287
3          1.436333          1.453945  ...           1.504343
4          0.949867          0.960977  ...           0.994063

   RAD21_91096_02_r1  RAD21_91096_03_r1  RAD21_91096_04_r1  RAD21_91096_05_r1  \
0          28.154501          28.186332          28.078296          28.056062
1           8.568987           8.546384           8.537017           8.530838
2           2.892356           2.887852           2.869638           2.879652
3           1.490217           1.495530           1.484431           1.499538
4           0.989721           0.988369           0.981428           0.987942

   RAD21_94415_01_r1  RAD21_94415_02_r1  RAD21_94415_03_r1  RAD21_94415_04_r1  \
0          18.972746          18.748928          18.891332          18.754371
1           5.766238           5.723174           5.725386           5.703152
2           1.956494           1.940684           1.949051           1.918778
3           1.013867           1.006232           1.012790           0.999115
4           0.673244           0.662051           0.667455           0.659820

   RAD21_94415_05_r1
0          18.714250
1           5.687920
2           1.927913
3           1.012579
4           0.666724

[5 rows x 45 columns]
   CTCF_35846_01_r2  CTCF_35846_02_r2  CTCF_35846_03_r2  CTCF_35846_04_r2  \
0         42.107771         41.963016         41.876263         41.930926
1          8.807017          8.773429          8.739755          8.763926
2          2.697463          2.680897          2.667556          2.680911
3          1.475501          1.478740          1.479739          1.479368
4          0.994564          0.991382          0.981651          0.980309

   CTCF_35846_05_r2  CTCF_36632_01_r2  CTCF_36632_02_r2  CTCF_36632_03_r2  \
0         41.726542         47.987503         47.744560         47.733450
1          8.705981         10.024777          9.994463          9.955682
2          2.654372          3.064355          3.045899          3.041942
3          1.487629          1.674982          1.681025          1.685247
4          0.983177          1.129119          1.123402          1.115802

   CTCF_36632_04_r2  CTCF_36632_05_r2  ...  RAD21_91096_01_r2  \
0         47.524536         47.672606  ...          49.492412
1          9.928022          9.942557  ...          10.335370
2          3.035308          3.031556  ...           3.156869
3          1.671134          1.692002  ...           1.731018
4          1.108577          1.121230  ...           1.163348

   RAD21_91096_02_r2  RAD21_91096_03_r2  RAD21_91096_04_r2  RAD21_91096_05_r2  \
0          49.295858          49.287750          49.159202          49.178524
1          10.312444          10.282980          10.268924          10.263611
2           3.142316           3.142593           3.134566           3.128087
3           1.735037           1.741886           1.729008           1.743388
4           1.156129           1.155506           1.145977           1.154166

   RAD21_94415_01_r2  RAD21_94415_02_r2  RAD21_94415_03_r2  RAD21_94415_04_r2  \
0          33.169080          32.785587          32.984344          32.803916
1           6.939088           6.857135           6.899486           6.865617
2           2.129114           2.093474           2.114150           2.103610
3           1.163503           1.153636           1.177659           1.157521
4           0.783740           0.779316           0.781990           0.768103

   RAD21_94415_05_r2
0          32.771604
1           6.844729
2           2.094359
3           1.177466
4           0.775585

[5 rows x 45 columns]

In [125]:
m_r1 = []
#np.linspace(0, 40, 9)

for i in np.linspace(0, 40, 9, dtype=int):
    #print(i)
    #print(i, i+5)
    m_r1.append(back_r1.iloc[:,i:i+5].mean(axis=1))
mback_r1 = pd.concat(m_r1, axis=1)

In [127]:
m_r2 = []
#np.linspace(0, 40, 9)

for i in np.linspace(0, 40, 9, dtype=int):
    #print(i)
    #print(i, i+5)
    m_r2.append(back_r2.iloc[:,i:i+5].mean(axis=1))
mback_r2 = pd.concat(m_r2, axis=1)

In [146]:
sample = []
for f in file:
    sample.append(os.path.split(f)[1].split('_shuff')[0])
name = np.unique(sample)
print(name)

['CTCF_35846' 'CTCF_36632' 'CTCF_45230' 'CTCF_46184' 'CTCF_50988'
 'RAD21_45689' 'RAD21_46164' 'RAD21_91096' 'RAD21_94415']

In [149]:
name = name.tolist()

In [150]:
type(name)

list

In [165]:
name1 = [name[i] + '_r1' for i in range(len(name))]
name2 = [name[i] + '_r2' for i in range(len(name))]

In [166]:
mback_r1.columns = name1
mback_r2.columns = name2

In [167]:
mback_r1.head()

,CTCF_35846_r1,CTCF_36632_r1,CTCF_45230_r1,CTCF_46184_r1,CTCF_50988_r1,RAD21_45689_r1,RAD21_46164_r1,RAD21_91096_r1,RAD21_94415_r1
0,23.964474,27.275004,28.312920,31.536282,30.624934,29.599327,40.675623,28.156767,18.816325
1,7.282030,8.287387,8.601874,9.580459,9.303554,8.994786,12.345819,8.554815,5.721174
2,2.457836,2.796620,2.903083,3.231640,3.138780,3.034199,4.154281,2.886757,1.938584
3,1.274910,1.448567,1.502744,1.672463,1.623811,1.569865,2.151426,1.494812,1.008917
4,0.843673,0.958545,0.993774,1.104065,1.072808,1.037585,1.417657,0.988305,0.665859

In [168]:
mback_r2.head()

,CTCF_35846_r2,CTCF_36632_r2,CTCF_45230_r2,CTCF_46184_r2,CTCF_50988_r2,RAD21_45689_r2,RAD21_46164_r2,RAD21_91096_r2,RAD21_94415_r2
0,41.920903,47.732531,49.550436,55.221615,53.618156,51.811540,71.238272,49.282749,32.902906
1,8.758022,9.969100,10.350450,11.530302,11.197390,10.822189,14.870913,10.292666,6.881211
2,2.676240,3.043812,3.158389,3.516246,3.415049,3.301259,4.527098,3.140886,2.106941
3,1.480195,1.680878,1.745591,1.941625,1.886520,1.825307,2.497124,1.736068,1.165957
4,0.986217,1.119626,1.162032,1.292784,1.255215,1.213282,1.660347,1.155025,0.777747

In [169]:
#back.to_csv("ctcf_rad21_meanback.txt", sep='\t', index=False)

mback_r1.to_csv("ctcf_rad21_meanback_r1.txt", sep='\t', index=False)
mback_r2.to_csv("ctcf_rad21_meanback_r2.txt", sep='\t', index=False)