In [38]:
"""

Get z-score of each row

"""

'\n\nGet z-score of each row\n\n'

In [1]:
import os, sys, glob
import numpy as np
import pandas as pd
import pyranges as pr

In [1]:
subed = pd.read_csv('ctcf_rad21_subed.txt', sep='\t')

NameError: name 'pd' is not defined

In [3]:
subed.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,-1.950959,-2.450959,4.477787,9.284475,5.060435,10.392032,7.583502,14.559739,6.261766,12.334585,4.077346,8.671962,12.574065,23.348952,4.783119,9.593050,-6.744982,-10.514746
1,-0.521032,-0.432923,1.421789,1.926704,1.653035,2.163645,2.384237,3.022233,1.972257,2.585805,1.353420,1.809073,3.942981,4.851320,1.531143,1.994435,-2.021525,-2.198347
2,-0.154900,-0.080432,0.452057,0.562287,0.520860,0.633910,0.768363,0.864869,0.633020,0.766199,0.408514,0.489930,1.272566,1.414283,0.468361,0.533547,-0.674075,-0.692781
3,-0.053393,-0.000614,0.254448,0.338896,0.285630,0.371186,0.393252,0.487154,0.337001,0.414958,0.227433,0.307493,0.670686,0.799056,0.251641,0.309833,-0.330069,-0.348590
4,-0.026825,0.006235,0.184936,0.232454,0.210191,0.267317,0.270047,0.345775,0.230573,0.305957,0.162867,0.209300,0.457535,0.548015,0.190827,0.229789,-0.194920,-0.211206

In [4]:
# calculate the z-score for each row

rowmean = subed.mean(axis=1)
rowsd = subed.std(axis=1)

In [5]:
print(rowmean.head())
print(rowsd.head())

0    6.185620
1    1.524347
2    0.454810
3    0.262000
4    0.189937
dtype: float64
0    7.999517
1    1.824733
2    0.557929
3    0.293890
4    0.194986
dtype: float64

In [6]:
zmat = subed.sub(rowmean, axis=0).div(rowsd, axis=0)
zmat.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,-1.017134,-1.079638,-0.213492,0.387380,-0.140657,0.525833,0.174746,1.046828,0.009519,0.768667,-0.263550,0.310812,0.798604,2.145546,-0.175323,0.425954,-1.616423,-2.087672
1,-1.120920,-1.072634,-0.056205,0.220502,0.070524,0.350351,0.471241,0.820880,0.245466,0.581706,-0.093672,0.156037,1.325473,1.823266,0.003724,0.257620,-1.943228,-2.040131
2,-1.092810,-0.959338,-0.004935,0.192637,0.118385,0.321009,0.561996,0.734967,0.319414,0.558116,-0.082978,0.062947,1.465700,1.719706,0.024289,0.141124,-2.023350,-2.056877
3,-1.073168,-0.893579,-0.025697,0.261649,0.080405,0.371520,0.446604,0.766119,0.255201,0.520460,-0.117619,0.154797,1.390609,1.827405,-0.035250,0.162757,-2.014595,-2.077618
4,-1.111680,-0.942127,-0.025648,0.218052,0.103872,0.396849,0.410850,0.799226,0.208403,0.595014,-0.138829,0.099305,1.372393,1.836427,0.004563,0.204385,-1.973765,-2.057290

In [7]:
zmat.to_csv("ctcf_rad21_zmat.txt", sep='\t', index=False)